---
import Layout from "../layouts/Layout.astro";
import config from "../config.json";

import { Cloudinary } from "@cloudinary/url-gen";

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const heroVideo = cld.video("dirtee deeds/hero");
const heroVideoURL = heroVideo.toURL();
---

<Layout title={config.businessName}>
  <section class="h-screen flex">
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute top-0 left-0 w-full h-full object-cover -z-10"
    >
      <source src={heroVideoURL} type="video/mp4" />
    </video>
    <div class="max-w-screen-xl mx-auto flex w-full px-4">
      <div class="flex flex-col justify-center w-full max-w-2xl gap-8">
        <h1 class="text-6xl max-md:text-4xl text-primary">
          Providing year-round service to the Wairarapa region for over 20 years
        </h1>
        <h2 class="font-light text-white">
          Precision diggers, dependable trucks, complete earthwork services
        </h2>
        <a
          href="#contact"
          class="btn btn-outline rounded-full btn-lg btn-primary w-fit"
          >Contact Us Today</a
        >
      </div>
    </div>
  </section>
</Layout>
